@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  color: black;
}
