@if(movie) {
<mat-card appearance="outlined" class="!bg-black overflow-hidden max-w-80 m-auto h-full flex flex-col">
  <div class="grid grid-cols-[2fr_1fr] gap-4 p-4">
      <span class="text-lg text-white truncate w-full overflow-hidden">{{ movie.title }}</span>  
      <app-fav-button [favState]="movie" class="justify-self-end"></app-fav-button>    
  </div>
  <div class="flex justify-center max-h-80">
    <img mat-card-image [src]="movie.poster" [alt]="movie.title" class="max-h-full max-w-full object-contain"  />
  </div>  
  <mat-card-content>    
  </mat-card-content>
</mat-card>
}
