@if(movie) {
<mat-card appearance="outlined" class="!bg-black overflow-hidden max-w-80 m-auto">
  <div class="grid grid-cols-[2fr_1fr] gap-4 p-4">
      <span class="text-lg text-white truncate w-full overflow-hidden">{{ movie.Title }}</span>
    <button class="flex max-w-sm rounded-md bg-yellow-500 justify-self-end">
      <mat-icon [class]="movie.Actors ? 'favSelected': 'favUnselected'">favorite</mat-icon>
    </button>    
  </div>
  <img mat-card-image class="max-h-80" [src]="movie.Poster" alt="Photo of a Shiba Inu" />
  <mat-card-content>    
  </mat-card-content>
</mat-card>
}
