<nav class="flex justify-center mb-2">
  <div class="mt-2 relative flex items-center max-w-[26rem] w-full">
     @if(isLoading$ | async){
         <div class="absolute w-5 h-5 top-4 left-2.5 text-slate-600" >
             <mat-progress-spinner 
                 mode="indeterminate"
                 [diameter]="20" 
                 >
             </mat-progress-spinner>
          </div>
     } @else {
          <mat-icon aria-hidden="false" class="absolute w-5 h-5 top-3 left-2.5 text-slate-600" aria-label="Example home icon" fontIcon="home"></mat-icon>
     }
    <input
    class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-10 pr-3 py-4 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
    placeholder="Busca una pelicula..." 
    #inputSearch
    (keydown.enter)="getMovies(inputSearch.value)"
    />
    
    <button
      class="rounded-md bg-slate-800 py-4 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
      type="button"
      (click)='getMovies(inputSearch.value)'
      
    >
      Search
    </button> 
  </div>
</nav>
<section class="grid grid-rows-[16rem,1fr] min-h-screen gap-10">
      <div class="grid items-stretch md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-y-2 grid-rows-3">
       @if (movieList$ | async | json){
         @for (movie of movieList$ | async; track movie.id) {
             <app-movie-card [movie]="movie"></app-movie-card>
         }
       }
    </div>
</section>
