# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Builds
dist/
build/

# Environments
.env
.env.*.local

# IDEs
.vscode/
.idea/

# Mac y Windows
.DS_Store
Thumbs.db
/generated/prisma
